<div class="row">  
	<div class="span6">  
		<ul class="nav nav-tabs">  
			<li class="active"><a href="#">My profil</a> </li>   
			<li><a href="#">My promotions</a> </li>   
			<li><a href="#">My Stores</a></li>   
		</ul>  
	</div>  
</div>  
