<div class="jumbotron">
    <h1>Welcome to Broad Market</h1>
    <p>The other way to shop</p>
	<% if !signed_in? %>
    	<p><%= link_to "Sign up for free !", signup_path, :class => "btn btn-primary btn-lg" %></p>
	<% end %>
</div>